.vscode
.idea

cgi-bin
document_errors
logs
private
public_shtml
stats

*.tar

public_html/*.zip
public_html/*.tar

node_modules
public_html/wp-config.php

public_html/wp-content/uploads/wc-logs
public_html/wp-content/uploads/ur-logs
public_html/wp-content/upgrade
public_html/wp-content/languages/plugins/*
public_html/wp-content/uploads/*
public_html/wp-content/ai1wm-backups/*.wpress
public_html/wp-content/plugins/all-in-one-wp-migration/storage/*.log
public_html/wp-content/plugins/wp-super-cache/*
public_html/wp-content/cache/*

public_html/.htaccess